<div class="correspondence__content_text">
  <p class="correspondence__content_all">
    {{text}}
  </p>
  <div class="time_wrapper">
    <p class="correspondence__content_time">
      {{text_time}}
    </p>
  </div>

</div>