.login__text {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: #3369f3;
}

.form__new-img {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 45px;
    color: #3369f3;
}
