<section class="chat">
	<div id="add_user_form" class="form">
		<div class="form__update">
			{{> title style='form__title' text_title='Добавить пользователя'}}
			<form>
				{{> inputform id = 'login' label='Логин' }}
				{{> button id="remove_user_form" style_btn='someBtn' value='Добавить' }}
			</form>
		</div>
	</div>
	<div id="dell_user_form" class="form">
		<div class="form__update">
			{{> title style='form__title' text_title='Удалить пользователя'}}
			<form>

				{{> inputform id = 'login1' label='Логин' }}
				{{> button id="remove_user_form_update" style_btn='someBtn' value='Удалить' }}
			</form>
		</div>
	</div>
	<div class="chat__item">
		{{> button_to-profile href="#page3"}}
		{{> button_search }}

		<ul class="chat__list">
			{{> chat_element
			name = 'Андрей'
			text = 'Изображение'
			time = '10:49'
			notification = '2'
			}}
			{{> chat_element
			name = 'Киноклуб'
			text = 'Вы: стикер'
			time = '12:00'
			}}
			{{> chat_element
			name = 'Илья'
			text = 'Друзья, у меня для вас особенный выпуск новостей!...'
			time = '15:12'
			notification = '4'
			}}
			{{> chat_element
			name = 'Вадим'
			text = 'Вы: Круто!'
			time = 'пт'
			}}
			{{> chat_element
			name = 'тет-а-теты'
			text = 'И Human Interface Guidelines и Material Design рекомендуют...'
			time = 'ср'
			}}
			{{> chat_element
			name = '1, 2, 3'
			text = 'Миллионы россиян ежедневно проводят десятки часов свое...'
			time = 'пн'
			}}
			{{> chat_element
			name = 'Design Destroyer'
			text = 'В 2008 году художник Jon Rafman  начал собирать...'
			time = 'пн'
			}}
			{{> chat_element
			name = 'Day.'
			text = 'Так увлёкся работой по курсу, что совсем забыл его анонсир...'
			time = '1 Мая'
			}}
			{{> chat_element
			name = 'Стас Рогозин'
			text = 'Можно или сегодня или завтра вечером.'
			time = '12 Апр'
			}}
		</ul>
	</div>
	<div class="chat__item">
		{{> chat_profile name='Влад' }}
		<div class="correspondence">
			{{> title style='correspondence__date' text_title='19 июня'}}
			<div class="correspondence__content">
				{{> chat_text text_time='11:56' text='Привет! Смотри, тут всплыл интересный кусок лунной космической истории —
				НАСА
				в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
				астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности
				Луны, так как астронавты с собой забрали только кассеты с пленкой.

				Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не
				попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.' }}

			</div>
			<div class="correspondence__content">
				<img src="/src/aseets/foto_chat.png" alt="">
			</div>
			<div class="correspondence__content">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
					x="0px" y="0px" viewBox="0 0 864 864" style="enable-background:new 0 0 864 864;" xml:space="preserve">
					<path d="M652.5,304.3c-1.6-53.7-79.6-53.7-81.2,0h-98.6v-98.6c53.7-1.6,53.7-79.6,0-81.2c-1.6-53.7-79.6-53.7-81.2,0
	c-53.7,1.6-53.7,79.6,0,81.2v98.6h-98.6c-1.6-53.7-79.6-53.7-81.2,0c-53.7,1.6-53.7,79.6,0,81.2c1.6,53.7,79.6,53.7,81.2,0h98.6
	v272.7c-53.7,1.6-53.7,79.6,0,81.2c1.6,53.7,79.6,53.7,81.2,0c53.7-1.6,53.7-79.6,0-81.2V385.6h98.6c1.6,53.7,79.6,53.7,81.2,0
	C706.2,383.9,706.2,306,652.5,304.3z M657.2,362.4h-27.9v27.9h-34.8v-27.9H449.4v319.2h27.9v34.8h-27.9v27.9h-34.8v-27.9h-27.9
	v-34.8h27.9V362.4H269.5v27.9h-34.8v-27.9h-27.9v-34.8h27.9v-27.9h34.8v27.9h145.1V182.5h-27.9v-34.8h27.9v-27.9h34.8v27.9h27.9
	v34.8h-27.9v145.1h145.1v-27.9h34.8v27.9h27.9V362.4z" />
				</svg>
			</div>
			<div class="correspondence__content">
				{{> chat_text text_time='12:00' text='Круто' }}
			</div>
		</div>
		<div class="chat__bottom">

			{{> button_add-content }}
			{{> chat_footer-content}}
		</div>
	</div>
</section>
{{!-- <div class="chat__bottom">
	<button class="chat__bottom_icon">
		<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M6.18662 12.5L13.7628 4.92389L14.7056 5.8667L7.12943 13.4428L6.18662 12.5Z" fill="#999999" />
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M8.70067 15.0141L16.2768 7.43793L17.2196 8.38074L9.64348 15.9569L8.70067 15.0141Z" fill="#999999" />
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M14.0433 20.3567L21.6195 12.7806L22.5623 13.7234L14.9861 21.2995L14.0433 20.3567Z" fill="#999999" />
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M16.5574 22.8708L24.1335 15.2946L25.0763 16.2374L17.5002 23.8136L16.5574 22.8708Z" fill="#999999" />
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M16.5574 22.8709C13.9423 25.486 9.71181 25.4954 7.10831 22.8919C4.50482 20.2884 4.51424 16.0579 7.12936 13.4428L6.18655 12.5C3.0484 15.6381 3.0371 20.7148 6.16129 23.839C9.28549 26.9632 14.3621 26.9518 17.5003 23.8137L16.5574 22.8709Z"
				fill="#999999" />
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M21.6195 12.7806L22.5623 13.7234C25.003 11.2826 25.0118 7.3341 22.5819 4.90417C20.152 2.47424 16.2035 2.48303 13.7627 4.92381L14.7055 5.86662C16.6233 3.94887 19.7257 3.94196 21.6349 5.85119C23.5441 7.76042 23.5372 10.8628 21.6195 12.7806Z"
				fill="#999999" />
			<path fill-rule="evenodd" clip-rule="evenodd"
				d="M8.70092 15.0144C6.95751 16.7578 6.95123 19.5782 8.68689 21.3138C10.4226 23.0495 13.2429 23.0432 14.9863 21.2998L14.0435 20.357C12.8231 21.5774 10.8489 21.5818 9.63391 20.3668C8.41894 19.1518 8.42334 17.1776 9.64373 15.9572L8.70092 15.0144Z"
				fill="#999999" />
		</svg>
	</button>
	<input type="text" placeholder="Сообщение" class="chat__bottom_input">
	<button class="chat__bottom_send">
		<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
			<rect y="5.19995" width="11" height="1.6" fill="white" />
			<path d="M7 1L11 6L7 11" stroke="white" stroke-width="1.6" />
		</svg>
	</button>
</div>
</div>

{{!-- <ul class="chat__list">
	{{> chat_element
	name = 'Андрей'
	text = 'Изображение'
	time = '10:49'
	notification = '2'
	}}
	{{> chat_element
	name = 'Иван'
	text = 'Текст'
	time = 'пт'
	notification = ''
	}}
</ul>


{{> button_search }}--}}
