{{!-- <!-- <p class="page1">Форма авторизации</p> -->
<div class="login">
	<div class="login__wrapper">
		<div class="login__item">
			{{> title text_title='Вход'}}
			{{> inputform id = 'login' label='Логин' }}
			{{> inputform typetext='password' label='Пароль'}}
		</div>

		<div class="login__item">
			{{> button id="authButton" style_btn='someBtn' value='Авторизоваться' }}
			{{>text__transition href="#page2" text='Регистрация'}}
		</div>

	</div>
</div> --}}