<div class="chat__top">
  <div class="chat__top_avatar">
    <div class="chat__top_img"></div>
    <p class="chat__top_avatar_text">{{name}}</p>
  </div>
  <div id="meny" class="chat__meny">
    <div class="chat__meny_point"></div>
    <div class="chat__meny_point"></div>
    <div class="chat__meny_point"></div>
  </div>
</div>
<div id="meny_content" class="meny">
  <div class="meny__content">
    <button id="add_user_profile" class="meny__btn">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="5.99988" y1="0.5" x2="5.99988" y2="11.5" stroke="#3369F3" stroke-width="1.5" />
        <line x1="0.499878" y1="6" x2="11.4999" y2="6" stroke="#3369F3" stroke-width="1.5" />
      </svg>

    </button>
    <p class="meny__text">
      Добавить пользователя
    </p>
  </div>
  <div class="meny__content">
    <button id="del_user_profile" class="meny__btn">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="4.11077" y1="4.11103" x2="11.8889" y2="11.8892" stroke="#3369F3" stroke-width="1.5" />
        <line x1="4.11078" y1="11.8891" x2="11.889" y2="4.11093" stroke="#3369F3" stroke-width="1.5" />
      </svg>
    </button>
    <p class="meny__text">
      Удалить пользователя
    </p>
  </div>
</div>