<li class="chat__link">
  <div class="chat__link_hover"></div>
  <div class="chat__link_item">
    <div class="chat__link_circle">
      <img src="" alt="" class="chat__link_avatar">
    </div>
  </div>
  <div class="chat__link_item">
    <label for="" class="chat__text">
      {{name}}
    </label>
    <label for="" class="chat__subtext">
      {{text}}
    </label>
  </div>
  <div class="chat__link_item">
    <div class="chat__date">{{time}}</div>
    <div class="chat__notification_circle">
      <div class="chat__notification">{{notification}}</div>

    </div>
  </div>
</li>