<div id="profilemodal" class="profilemodal">
	<div class="profilemodal__wrapperr">
		<div class="form__update">
			{{> title style='form__title' text_title='Загрузите файл'}}
			{{>text__transition name='avatar' style_text='form__new-img' text='Выбрать файл на компьютере'}}
			{{> button style_btn='someBtn' value='Поменять' }}
		</div>
	</div>
</div>



<div class="profile">
	<div class="profile__item">
		{{> line_button id='to_chats'}}
	</div>

	<div class="profile__item">
		{{> avatar}}
		{{> title style='profile__title' text_title='Иван'}}
		<div class="profile__form_wrapper">
			<form>

				{{> inputform_profile label='Пачта' text='pochta@yandex.ru' name='email' read='readonly'}}
				{{> inputform_profile label='Логин' name='login' text='ivanivanov' }}
				{{> inputform_profile label='Имя' name='first_name' text='Иван'}}
				{{> inputform_profile label='Фамилия' name='second_name' text='Фамилия' }}
				{{> inputform_profile label='Имя в чате' name='display_name' text='Иван' }}
				{{> inputform_profile label='Телефон' name='phone' text='+7 (909) 967 30 30' }}
		</div>
		<div class="profile__redact">
			<div class="profile__transition">
				{{> button id='change_datas' style_btn='profile__btn' value='Изменить данные' }}
			</div>
			<div class="profile__transition">
				{{> button id='change_password' style_btn='profile__btn' value='Изменить пароль' }}
			</div>
			<div class="profile__transition">
				{{> button id='exit_profile' style_btn='profile__btn' value='Выйти' }}

			</div>
			</form>
		</div>

	</div>
</div>
