<div class="form">
	<div class="form__update">
		{{> title style='form__title' text_title='Файл загружен'}}
		{{> text__transition href='' style_text='form__new-img' text='pic.jpg'}}
		{{> button id='authButton' style_btn='someBtn' value='Поменять' }}
	</div>
</div>

{{!-- 1
<div class="form">
	<div class="form__update">
		{{> title style='form__title' text_title='Загрузите файл'}}
		{{>text__transition href='' style_text='form__new-img' text='Выбрать файл на компьютере'}}
		{{> button style_btn='someBtn' value='Поменять' }}
	</div> --}}
	{{!-- 2

	<div class="form">
		<div class="form__update">
			{{> title style='form__title' text_title='Файл загружен'}}
			{{>text__transition href='' style_text='form__new-img' text='pic.jpg'}}
			{{> button style_btn='someBtn' value='Поменять' }}
		</div>

		{{!-- 3
		<div class="form">
			<div class="form__update">
				{{> title style='form__title' text_title='Загрузите файл'}}
				{{>text__transition href='' style_text='form__new-img' text='Выбрать файл на компьютере'}}
				{{> button style_btn='someBtn' value='Поменять' }}
				{{>text__transition href="#page2" style_text='form__new-img' text='Нужно выбрать файл'}}
			</div>
		</div> --}}
		{{!-- 4
		<div class="form">
			<div class="form__update">
				{{> title style='form__title1' text_title='Ошибка, попробуйте ещё раз'}}
				{{>text__transition href='' style_text='form__new-img' text='Выбрать файл на компьютере'}}
				{{> button style_btn='someBtn' value='Поменять' }}
			</div>
		</div> --}}
		{{!-- 5добавить пользователя
		<div class="form">
			<div class="form__update">
				{{> title style='form__title' text_title='Добавить пользователя'}}
				{{> inputform id = 'login' label='Логин' }}
				{{> button style_btn='someBtn' value='Добавить' }}
			</div>
		</div> --}}
		{{!-- <div class="form">
			<div class="form__update">
				{{> title style='form__title' text_title='Удалить пользователя'}}
				{{> inputform id = 'login' label='Логин' }}
				{{> button style_btn='someBtn' value='Удалить' }}
			</div>
		</div> --}}