<!-- <p class="page1">Форма авторизации</p> -->

<div class="login">
	<div class="login__wrapper">
		<div class="login__item">
			{{> title text_title='Вход'}}
			<form id="loginData">
				{{> inputform id='inputform1_page1' name='login' id='login' label='Логин' }}
				{{> inputform id='inputform2_page1' name='password' typetext='password' label='Пароль'}}



				<div class="login__item">
					{{> button id='authButton' type="submit" style_btn='someBtn' value='Войти' }}
					{{>text__transition href="#page2" text='Регистрация'}}
				</div>
			</form>
		</div>

	</div>
</div>
