<!-- <p class="page2">Форма авторизации</p> -->
<div class="login">
	<div class="login__wrapper">
		<div class="login__item">
			{{> title text_title='Регистрация'}}
			<form id="createLogin">
				{{> inputform id='inputform3_page2' name='email' label='Почта' }}
				{{> inputform id='inputform4_page2' name='login' label='Логин' }}
				{{> inputform id='inputform5_page2' name='first_name' label='Имя' }}
				{{> inputform id='inputform6_page2' name='second_name' label='Фамилия' }}
				{{> inputform id='inputform7_page2' name='phone' label='Телефон' }}
				{{> inputform id='inputform1_page2' name='password' typetext='password' label='Пароль'}}
				{{> inputform id='inputform2_page2' name='password1' typetext='password' label='Пароль (еще раз)'}}


				<div class="login__item">
					{{> button id='authButton1' style_btn='someBtn' value='Зарегистрироваться' }}
					{{>text__transition href="#page1" text='Войти'}}
				</div>
			</form>
		</div>
	</div>
</div>
